//fuentes
$title-font: 'Grenze Gotisch', serif;
$body-font: 'Assistant', sans-serif;
$font-weigth-bd: 90px;
$font-weigth-tl: 200px;

$font-size-h4: 16px;
$font-size-h3: 2vh;
$font-size-h2: 30px;
$font-size-footer: 1.5vh;
$font-size-encabezado-1: 1rem;

//colores
$dark-color: #121212;
$light-color: rgb(243, 243, 243);
$light-color2: #fff;

//componentes
$border-width: 0.1vh;

//imagenes de portada
$portada-1:  url(../media/img/img-inicio.jpg);
$portada-2:  url(../media/img/img-nosotros.jpg);